.container {
  display: flex;
  flex-direction: row;
  width: 100dvw;
  height: 100dvh;
  align-items: center;
  color: #1f1f1f;
}

.left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 341px;
  height: 308px;
}
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.right h1 {
  font-weight: bold;
  font-size: 64px;
  margin: 48px 0;
}
.right h2 {
  font-weight: bold;
  font-size: 31px;
  margin-bottom: 32px;
}
.right h3 {
  margin: 40px 0 20px 0;
}
.line {
  position: relative;
  border-bottom: 1px solid rgb(239, 243, 244);
  margin: 20px 0;
}
.line::before {
  content: "또는";
  position: absolute;
  width: 40px;
  height: 20px;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.maxWidth {
  width: 100%;
  max-width: 300px;
}
.maxWidth span {
  color: rgb(83, 100, 113);
  font-size: 11px;
  display: inline-block;
  margin-top: 1px;
}
.maxWidth em {
  font-style: normal;
  color: rgb(29, 155, 240);
  cursor: pointer;
}

.signup {
  box-sizing: border-box;
  margin-bottom: 5px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 50px;
  background: rgb(29, 155, 240);

  color: #fff;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: 1px solid rgb(207, 217, 222);
  border-radius: 50px;
  background: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.google svg {
  width: 18px;
  height: 18px;
}
.google span {
  font-size: 15px;
}
.apple {
  margin-top: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: 1px solid rgb(207, 217, 222);
  border-radius: 50px;
  background: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.apple svg {
  width: 18px;
  height: 18px;
}
.apple span {
  font-size: 15px;
}

.login {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: 1px solid rgb(207, 217, 222);
  border-radius: 50px;
  background: #fff;


  color: rgb(29, 155, 240);
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
