/* 로그인 */
.loginWrapper {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.loginContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 650px;
  border-radius: 30px;
  background: #fff;
  overflow: hidden;
  padding: 30px 16px;
}
.loginContainer h3 {
  font-size: 31px;
  text-align: center;
  letter-spacing: 2px;
  margin: 0 0 50px 0;
}
.top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.closed {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 10px;
}
.closed svg {
  left: 25px;
  top: 25px;
}
.logo {
  margin: 20px 0;
  width: 50px;
  height: 50px;
}


.maxWidth {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}
.maxWidth span {
  color: rgb(83, 100, 113);
  display: inline-block;
  margin-top: 1px;
}
.maxWidth em {
  font-style: normal;
  color: rgb(29, 155, 240);
  cursor: pointer;
}

.idPwInput {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: 1px solid rgb(207, 217, 222);
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
}
.idPwInput:focus {
  border: none;
  outline: 1px solid rgb(29, 155, 240);
}
.idPwInput::placeholder {
  color: #ccc;
}

.signup {
  display: block;
  text-align: center;
  width: 100%;
  padding-top: 30px;
  margin: 0 auto;
}
.signup a {
  display: inline-block;
  margin-left: 5px;
  color: rgb(29, 155, 240);
  text-decoration: none;
}

.google {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: 1px solid rgb(207, 217, 222);
  border-radius: 50px;
  background: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.google svg {
  width: 18px;
  height: 18px;
}
.google span {
  font-size: 15px;
}
.apple {
  margin-top: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: 1px solid rgb(207, 217, 222);
  border-radius: 50px;
  background: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.apple svg {
  width: 18px;
  height: 18px;
}
.apple span {
  font-size: 15px;
}
.line {
  position: relative;
  border-bottom: 1px solid rgb(239, 243, 244);
  margin: 20px 0;
}
.line::before {
  content: "또는";
  position: absolute;
  width: 40px;
  height: 20px;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.next {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 50px;
  background: rgb(15, 20, 25);

  color: #fff;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.forget {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: 1px solid rgb(207, 217, 222);
  border-radius: 50px;
  background: #fff;


  color: rgb(15, 20, 25);
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}